@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
    background-size: cover;
    height:100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding:20px 0;
    font-size: 30px;
}

.item1 {
    /* Chrome, Safari, Opera */
    -webkit-column-count: 2;

    /* Firefox */
    -moz-column-count: 2;

    column-count: 2;

}

.chariesa{
    filter: unset;
}

a{
    color: deepskyblue!important;
}